<a href="https://colab.research.google.com/github/khairihilmi01/LatihanProject1/blob/master/Simple_Linear_Regression_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import library**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# import data, Make sure your file path is correct
df = pd.read_csv('/content/Salary_Data.csv')

In [ ]:
# look some sample data
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
# before you begin, make sure none of data has missing value

df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [ ]:
# let's see data description

df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [ ]:
# choose variable as predictor and target

x = df.drop('Salary',1) # you can do code like this if you have too much variable
y = df.Salary

In [ ]:
# separate your data
# we can use train_test_split for separate our data into train data and test data

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
# after we separate our data, we can go to modelling our data.
from sklearn.linear_model import LinearRegression
Lr = LinearRegression() # make an object
Lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# try to look at the prediction
pred = Lr.predict(x_test)

In [ ]:
print(pred)

[ 53815.63596673 121997.74732551  80901.68020515  89307.69393431
 102383.71529079  71561.66495052]

In [ ]:
# get r2_score to know the accuracy of our predictions
from sklearn.metrics import r2_score
r2_score(y_test, pred)

0.9380755070966461